<h2>AKQA Anoraks HackDay Feedback Form</h2>
<p>Help us make the Hackday better, give us some feedback on the day to help make the event better</p>
<form class="survey" name"survey_01">

    <h3>Overall, how would you rate the event?</h3>

    <div class="form-element">                    
        <label for="q1o1">Excellent</label>
        <input type="radio" id="q1o1" value="excellent" />
    </div>

    <div class="form-element">                    
        <label for="q1o2">Very Good</label>
        <input type="radio" id="q1o1" value="excellent" />
    </div>

    <div class="form-element">                    
        <label for="q1o3">Fairly Good</label>
        <input type="radio" id="q1o1" value="excellent" />
    </div>

    <div class="form-element">                    
        <label for="q1o4">Mildly Good</label>
        <input type="radio" id="q1o1" value="excellent" />
    </div>

    <div class="form-element">                    
        <label for="q1o5">Not Good At All</label>
        <input type="radio" id="q1o1" value="excellent" />
    </div>
</form>
